@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 192 100% 97%;
  --foreground: 192 100% 7%;
  --card: 192 100% 97%;
  --card-foreground: 192 100% 7%;
  --popover: 192 100% 97%;
  --popover-foreground: 192 100% 7%;
  --primary: 192 85% 31%;
  --primary-foreground: 192 100% 97%;
  --secondary: 192 47% 7%;
  --secondary-foreground: 192 100% 97%;
  --muted: 192 47% 7%;
  --muted-foreground: 192 100% 97%;
  --accent: 192 85% 31%;
  --accent-foreground: 192 100% 97%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 192 100% 97%;
  --border: 192 16% 83%;
  --input: 192 16% 83%;
  --ring: 192 85% 31%;
  --radius: 0.5rem;
}

.dark {
  --background: 222 100% 7%;
  --foreground: 192 100% 97%;
  --card: 222 100% 7%;
  --card-foreground: 192 100% 97%;
  --popover: 222 100% 7%;
  --popover-foreground: 192 100% 97%;
  --primary: 192 85% 31%;
  --primary-foreground: 192 100% 97%;
  --secondary: 192 100% 97%;
  --secondary-foreground: 222 100% 7%;
  --muted: 192 100% 97%;
  --muted-foreground: 222 100% 7%;
  --accent: 192 85% 31%;
  --accent-foreground: 192 100% 97%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 192 100% 97%;
  --border: 222 47% 11%;
  --input: 222 47% 11%;
  --ring: 192 85% 31%;
}

body {
  @apply bg-background text-foreground antialiased;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}
